@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    text-decoration: none;
    color: #101828;
}

img {
    width: 16px;
    height: 16px;
}

/* BUTTONS & LINKS */

.white, .lightBlue, .blue, .red {
    padding: 10px 16px;
    margin-left: 8px;
    border-radius: 8px;
    font-size: 14px;
}

.white {
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #344054;
    font-size: 14px;
}

.lightBlue {
    background-color: #eff8ff;
    border: none;
    gap: 8px;
    border-radius: 40px;
    padding: 8px 10px;
    display: inline-flex;
    align-items: center;
}

.lightBlue > p {
    color: #175cd3;
    font-weight: 500;
    font-size: 14px;
}

.blue {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #1570EF;
}

.red {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #D92D20;
}

.leftButton {
    margin-top: 16px;
    margin-left: auto;
}

.blueLink {
    font-size: 14px;
    color: #1570ef;
}

/* TITLES & LABELS */

h1 {
    font-weight: 500;
    font-size: 24px;
    color: #101828;
}

h2 {
    color: #667085;
    font-size: 16px;
    font-weight: 400;
}

legend {
    font-size: 18px;
    color: #101828;
    font-weight: 500;
    margin: 20px 0;
}

label, h3 {
    font-size: 14px;
    color: #344054;
    font-weight: 500;
    margin-bottom: 8px;
}

.midText {
    color: #344054;
    font-weight: 500;
    font-size: 18px;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eaecf0;
    padding: 8px 8px;
    max-height: 160px;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.logo > a {
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    font-family: 'Abril Fatface', cursive;
}

.cart {
    padding: 8px;
}

/* NAV BAR */

nav {
    margin: auto;
    padding: 12px;
}

nav > a {
    margin-left: 10px;
    color: #344054;
}

/* FORMS */

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputField {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eaecf0;
    margin-bottom: 20px;
}

input, select, textarea {
    padding: 10px 14px;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 20px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #84CAFF;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05), 0 0 0 4px #D1E9FF;
    outline: none;
}

.submit {
    text-align: left;
    margin: 24px auto;
    display: flex;
    justify-content: end;
    gap: 12px;
}

.validate, .card > a {
    padding: 10px 16px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #1570EF;
}

p > a {
    text-align: center;
    color: #1570EF;
}

/*INDEX*/

.search {
    padding: 10px 14px;
    border: 1px solid #84CAFF;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05), 0 0 0 4px #D1E9FF;
    border-radius: 8px;
    width: 100%;
}

.search > input, .search > select {
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 24px auto;
}

.searchBar > button, .card > a {
    width: 100%;
    font-size: 16px;
}

.filtreForm {
    display: flex;
    flex-direction: column;
}

.filtreForm > fieldset {
    border: none;
}

/*CARDS*/

.card {
    border: 1px solid #EAECF0;
    box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    width: 360px;
}

.seller {
    display: flex;
    align-items: center;
    gap: 4px;
}

.seller > h3 {
    margin: 0;
}

.seller > a, .card > p {
    font-size: 16px;
    color: #101828;
}

.product > a {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.open {
    display: inline;
    color: #027A48;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 16px;
    background-color: #ECFDF3;
    margin-left: 8px;
}

.closed {
    display: inline;
    color: #B42318;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 16px;
    background-color: #FEF3F2;
    margin-left: 8px;
}

.info {
    display: flex;
    gap: 24px;
}

.card > a {
    text-align: center;
    margin: 0;
    width: 100%;
}

/* PROFILE */

.pFlex {
    display: flex;
    gap: 8px;
}

.field {
    display: flex;
    border-bottom: 1px solid #eaecf0;
    gap: 8px;
    padding: 16px 0;
}

.profileContent {
    margin: 24px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* CONNECTION */

.connection {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

.connectionButton {
    width: 100%;
}

.connectionForm {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    gap: 8px;
}

/* ADMIN */

.adminContent {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    gap: 16px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
    .filtreForm {
        flex-direction: row;
        justify-content: space-around;
    }

    .content {
        padding: 0;
    }

    nav {
        margin: 0 auto 0 0;
    }

    main {
        padding: 18px 10%;
    }

    header {
        height: 80px;
        justify-content: space-between;
        padding: 18px 80px;
    }

    fieldset {
        flex-direction: row;
        gap: 22px;
    }

    .searchBar {
        width: 72%;
    }

    .searchBar > button {
        width: auto;
    }

    .search {
        width: auto;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
    }
}

@media screen and (min-width: 600px) {
    .card {
        max-width: 360px;
    }
}
